*{
    margin:0;
    font-family: sans-serif;
    border:border-box;
}
.navbar{
    height: 80px;
    background-color: #000000;
    color:#ffffff;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.name a{

    color:aquamarine;
    font-size: 1.25rem;
    font-weight: 600;
}
.list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4rem;
}
a{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color:#ffffff;
}
.main_section{
    display: flex;
    height: 100vh;
    background-color: rgb(33, 33, 58);
}
.content{
    padding: 4rem 10rem;
    color:#ffffff;
}
.content p{
    font-size: 2.55rem;
    font-weight: 600;
}
.content h1{
    padding-top: 1.25rem;
    font-size: 4rem;
    font-weight: 600;
}
.content span{
    color:cadetblue;
}
.content h3{
    color:aquamarine;
    font-size: 2.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.content h4{
    font-size: 1.85rem;
    padding-bottom: 1.25rem;
}
.btn{
    background-color: rgb(112, 111, 111);
    color:ghostwhite;
    font-weight:500;
    border: none;
    border-radius: 8%;
    font-size: 1.5rem;
    padding: 1rem 1.1rem;
}
.btn:hover{
    background-color: rgb(80, 79, 79);
    border-radius: 8%;
    border: 3px solid rgb(80, 79, 79);;
}
.image{
    padding:5.2rem 8rem;
}
.portfolio_image{
    background-image: url("portfolio_pic.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius:50%;
}
